# PiaAGI Project .gitignore

## General
*.pyc
__pycache__/
*~
*.swp
*.swo
*.bak
*.tmp
*.log
*.DS_Store
venv/
.venv/
ENV/
env/
pip-wheel-metadata/

## PiaPES WebApp Specific
PiaAGI_Hub/PiaPES/web_app/llm_config.ini
PiaAGI_Hub/PiaPES/web_app/prompt_files/*.json # If prompts are user-specific and not meant for repo
!PiaAGI_Hub/PiaPES/web_app/prompt_files/example_*.json # Keep examples
PiaAGI_Hub/PiaPES/web_app/prompt_files/*.curriculum.json # If curricula are user-specific
!PiaAGI_Hub/PiaPES/web_app/prompt_files/my_test_curriculum.curriculum.json # Keep example

## IDE / Editor specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

## Build artifacts
dist/
build/
*.egg-info/
*.tar.gz
*.zip
*.wheel
